<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.androvdr"
      android:versionCode="2"
      android:versionName="1.0.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme">
        <activity android:name=".activities.AndroVDR"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GesturesFind"></activity>
        <activity android:name=".GesturesCreate"></activity>
        <activity android:name=".GesturesBuilder"></activity>
		<activity android:name=".activities.AboutActivity"></activity>
        <activity android:name=".activities.ChannelsActivity"></activity>
		<activity android:name=".activities.EpgsdataActivity"></activity>
		<activity android:name=".activities.EpgdataActivity"></activity>
		<activity android:name=".activities.TimersActivity"></activity>
		<activity android:name=".activities.RecordingsActivity"></activity>
		<activity android:name=".activities.RecordingInfoActivity"></activity>
		<activity android:name=".activities.PreferencesActivity"></activity>
		<activity android:name=".activities.DevicesActivity"></activity>
		<activity android:name=".activities.DevicePreferencesActivity"></activity>
	</application>
	<supports-screens 
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="false"
		android:anyDensity="true" />
    <uses-sdk android:targetSdkVersion="4" android:minSdkVersion="4"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
</manifest>